.custom-input,
.custom-textarea,
.custom-select {
  width: 100%;

  padding: 12px 16px;

  border: 1px solid #e7d2c1;
  border-radius: 18px;

  // background: #fff;

  transition: all 0.3s ease;

  &:focus {
    outline: none;
    border-color: #e98b2a;

    box-shadow: 0 0 0 3px rgba(233, 139, 42, 0.15);
  }
}
