<section class="news-list container py-4">

  <!-- Header -->
  <div class="d-flex justify-content-between align-items-center mb-4">

    <div>
      <h2 class="page-title mb-1">最新消息管理</h2>
      <p class="text-muted mb-0">
        管理所有最新消息內容
      </p>
    </div>

    <button class="btn add-btn" routerLink="/admin/news/create">
      + 新增新聞
    </button>

  </div>

  <!-- List -->
  @if (newsev.newsData().length > 0) {

  <div class="d-flex flex-column gap-4">

    @for (item of newsev.newsData(); track item.id) {

    <div class="news-card">

      <div class="row g-0 align-items-center">

        <!-- 圖片 -->
        <div class="col-lg-2 col-md-3">

          <div class="news-image-wrapper">

            @if (item.cover) {

            <img [src]="item.cover" class="news-image">

            } @else {

            <div class="no-image">
              <i class="bi bi-image"></i>
            </div>

            }

          </div>

        </div>

        <!-- 內容 -->
        <div class="col-lg-10 col-md-9">

          <div class="news-content">

            <!-- 上方資訊 -->
            <div class="mb-3">

              <div class="d-flex align-items-center gap-2 mb-2 flex-wrap">

                <span class="category-badge">
                  {{ item.category }}
                </span>

                <span class="news-date">
                  創建 {{ item.createdAt | date:'yyyy-MM-dd' }}
                </span>
                <span class="news-date">
                  更新 {{ item.updatedAt| date:'yyyy-MM-dd' }}
                </span>

              </div>

              <h4 class="news-title">
                {{ item.title }}
              </h4>

              <p class="news-intro">
                {{ item.intro }}
              </p>

            </div>

            <!-- 下方操作列 -->
            <div class="news-footer">

              <!-- 狀態 -->
              <span class="status-badge" [ngClass]="item.status === 1 ? 'published' : 'draft'">
                {{ item.status === 1 ? '已發布' : '草稿' }}
              </span>

              <div class="d-flex gap-2">

                <!-- 編輯 -->
                <button class="icon-btn edit-btn" [routerLink]="['/admin/news/edit', item.id]">
                 <span class="material-symbols-outlined">edit</span>
                </button>

                <!-- 刪除 -->
                <button class="icon-btn delete-btn" (click)="deleteNews(item.id)">
                  <span class="material-symbols-outlined">delete</span>
                </button>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

    }

  </div>

  } @else {

  <div class="empty-box">

    <i class="bi bi-newspaper"></i>

    <h4>目前沒有新聞資料</h4>

    <p>點擊右上角按鈕新增第一篇新聞</p>

  </div>

  }

</section>
