<div class="member-list">
  <h2>使用者管理</h2>
  @for (user of pagedUsers(); track user.id) {
  @if (!user.isDelete) {
  <div class="member-card">
    <!-- Avatar -->
    <div class="avatar-wrapper">
      <img [src]="user.avatar == null ? 'https://placehold.co/150' : user.avatar" class="avatar" />

      @if (user.identity === 0) {
      <span class="badge-young">青年</span>
      } @else {
      <span class="badge-old">長者</span>
      }
    </div>

    <!-- Info -->
    <div class="member-info">
      <div class="top-row">
        <h5>{{ user.realName == null ? '暫無名子' : user.realName }}</h5>

        <span class="time"> 註冊 {{ user.createAt | date: 'yyyy-MM-dd' }} </span>
        <span class="time"> 最後登入 {{ user.lastLoginAt | date: 'yyyy-MM-dd' }} </span>
      </div>

      <div class="bottom-row">
        <span class="verify fs-5">
          狀態:
          @if (user.status) {
          <i class="badge text-bg-success fs-6 m-auto">正常</i>
          } @else {
          <i class="badge text-bg-danger fs-6 m-auto">停權</i>
          }
        </span>
      </div>
      <!-- Action -->
      <div class="action-area">
        @if (user.status) {
        <button class="btn btn-danger btn-sm" (click)="changeStatus(user.accountId, user.status)">
          停權
        </button>
        } @else {
        <button class="btn btn-success btn-sm mx-3" (click)="changeStatus(user.accountId, user.status)">
          啟用
        </button>
        <button class="btn btn-outline-danger btn-sm" (click)="deleteUser(user.accountId)">
          刪除
        </button>
        }
      </div>
    </div>
  </div>
  }
  }
  <div class="pagination">
    <button (click)="changePage(currentPage() - 1)">上一頁</button>

    @for (p of pages(); track $index) {

    <button (click)="changePage(p)" [class.active]="p === currentPage()">
      {{ p }}
    </button>
    }

    <button (click)="changePage(currentPage() + 1)">下一頁</button>
  </div>

</div>
